*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #D9EEE1;
}

h1{
    margin: 0;
    padding-top: 10px;
}

.heading{
    background-color: #4a536b;
    color: white;
    margin: 0;
}

.button-predict{
    background-color: #4a536b;
    color: white;
    justify-content: center;
    width: 20vh;
    border-radius: 2.5rem;
}

.form-control{
    border-radius: 2.5rem;
    border-color: black;
}

.custom-select{
    border-radius: 2.5rem;
    border-color: black;
}

.emp-title a{
    text-decoration: none;
    color: white;
}

.emp-title a:hover{
    text-decoration: none;
    color:#D9EEE1;
}